<% provide(:title,"Home")%>
<% if is_logged_in? %>
  <div class="row">
      <aside class="col-md-4">
          <section class="user_info">
            <%= render 'shared/user_info' %>  
          </section>
          <section class="">
            <%= render 'shared/stats' %>
          </section>
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>  
          </section>
      </aside>
      <div class="col-md-8 user-posts">
        <%= render 'shared/feed' %>
      </div>
  </div>
<% else %>
<div class="jumbotron center">
<h1 class="welcome">Welcome to SharedTalk</h1>
<h3>Making connections that matter!</h3>
<%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>