<%= provide(:title, "Login") %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
          <fieldset>
              <div class="field">
                  <%= f.label 'Email' %>
                  <%= f.email_field :email%>
              </div>
               <div class="field">
                  <%= f.label 'Password' %>
                  <%= link_to 'Forgot Password?', new_password_reset_path, class: 'forgot-password' %>
                  <%= f.password_field :password %>
              </div>
              <div class="field clearfix">
                <%= f.label :remember_me, class: 'checkbox inline' do %> 
                <%= f.check_box :remember_me %>
                <span>Remember me on this computer</span>
                <% end %>
              </div>
              <div class="field">
                <%= f.submit 'Log In', class: 'btn btn-primary' %>
              </div>
              <div class="field">
                <p>New User? <%= link_to "Sign Up Now!", signup_path%></p>
              </div>
          </fieldset>
        <% end %>
        
    </div>
    
</div>

