<%= provide(:title,'Reset Password') %>
<h3>Forgot password?</h3>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
          <!--Pass the form varibale to the partial & access associated object via f.object-->
          <%= render 'shared/error_messages', object: f.object %>
          <%= hidden_field_tag :email, @user.email %>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>
          <div class="field">
            <%= f.submit "Update Password", class: 'btn btn-primary' %>
          </div>
        <% end %>
    </div>
</div>