<%= provide(:title, 'Forgot Password') %>
<h3>Forgot Password</h3>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:password_reset, url: password_resets_path)  do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
          <div class="field">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
    </div>
</div>