Hi <%= @user.name %>

<p>
  Welcome to SharedTalk! Click on the link below to activate your account: 
</p>
</p>
  <%=  link_to 'Activate', edit_account_activation_url(@user.activation_token,email: @user.email) %>
</p>
