Hi <%= @user.name %>

<p>To reset your password, please click the link below: </p>

<p><%= link_to "Reset Password", edit_password_reset_url(@user.reset_token, email: @user.email) %></p>

<p>This link will expire in 2 hours</p>

<p>If you did not request for your password to be reset, please ignore this email and your password will stay as is</p>
