Hi <%= @user.name %>

To reset your password, Please click the link below:

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

This link will expire in 2 hours 

If you did not request for your password to be reset, please ignore this email and your password will stay as is


