<%= provide(:title, "Edit User") %>
<h3>Update Your Profile</h3>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @user do |f| %>
          <!--Pass the form varibale to the partial & access associated object via f.object-->
          <%= render 'shared/error_messages', object: f.object%>
          <fieldset>
              <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name %>
              </div>
              <div class="field">
                <%= f.label :email %>
                <%= f.email_field :email %>
              </div>
              <div class="field">
                <%= f.label :password %>
                <%= f.text_field :password %>
              </div>
              <div class="field">
                <%= f.label :password_confirmation %>
                <%= f.text_field :password_confirmation %>
              </div>
              <div class="field">
              <%= f.submit 'Changes', class: 'btn btn-primary'%>
              </div>
          </fieldset>
        <% end %>
        <div class="gravatar_edit">
            <%= gravatar_for @user %>
            <a href="http://gravatar.com/emails" target="_blank">change</a>
        </div>
    </div>
</div>
