<%= provide(:title, 'All Users') %>
<h3>All Users</h3>
<%= will_paginate %>
<ul class="users">
  <!--Compact code that replaces verbosely iterating over @users variable--@users.each do |user| end -->
    <%= render @users %>
</ul>
<%= will_paginate %>