<%= provide :title, "Sign Up" %>
<div class="container">
<h1 class="signup-intro">Signup Page</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
     
        <%= form_for @user do |f| %>
        <!--Pass the form varibale to the partial & access associated object via f.object-->
        <%= render 'shared/error_messages', object: f.object%>
        <fieldset>
          <div class="field">   
          <%= f.label "name:" %>
          <%= f.text_field :name %>
          </div>
          <div class="field">
          <%= f.label "email:"%>
          <%= f.email_field :email%>
          </div>
          <div class="field">
          <%= f.label "password:"%>
          <%= f.password_field :password%>
          </div>
         <div class="field">
          <%= f.label "password_confirmation:"%>
          <%= f.password_field :password_confirmation%>
          </div>
          <div class="field">
          <%= f.submit "Create My Account", class: "btn btn-primary"%>
          </div>
        </fieldset>
        <% end %>
       
    </div>
</div>
</div>
