<%= provide(:title,@user.name) %>
<div class="row">
    <aside class="col-md-3">
        <section class="user-info">
            <h1>
              <%= gravatar_for @user, option={size: 50} %>
              <%= @user.name %>
            </h1>
        </section>
        <section class="">
          <%= render 'shared/stats' %>
        </section>
    </aside>
    <div class="col-md-9 user-posts">
      <%= render 'follow_form' if is_logged_in? %>
      <% if @user.microposts.any? %>
        <h4>Microposts (<%=@user.microposts.count%>) </h4>
        <ol>
            <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
</div>

