<%= provide(:title,@user.name) %>
<div class="row">
    <aside class="col-md-3">
        <section class="user-info">
            <h1>
              <%= gravatar_for @user, option={size: 50} %>
              <%= @user.name %>
            </h1>
        </section>
        <section class="">
          <%= render 'shared/stats' %>
          <% if @users.any? %>
            <div class="users-avatar">
                <% @users.each do |user| %>
                  <%= link_to gravatar_for(user, size: 20), user %>
               <% end %>
            </div>
          <% end %>
        </section>
    </aside>
    <div class="col-md-9 user-posts">
      <h3><%= @title %></h3>
      <% if @users.any? %>
        <ul class="users follow">
            <%= render @users %>
        </ul>
        <%= will_paginate %>
      <% end %>
    </div>
</div>

