<% if object.errors.any? %>
<div id="error-explanation">
    <div class="alert alert-danger">
        <p>This form contains <%= pluralize(object.errors.count, "error") %></p>
    </div>
    <ul>
        <% object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %> 