<%= form_for @micropost, html: { multipart: true} do |f| %>
<!--Pass the form varibale to the partial & access associated object via f.object-->
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
      <%= f.text_area :content, placeholder: 'Compose new micropost...' %>
  </div>
  <div class="field">
      <%= f.submit "Post", class: "btn btn-primary" %>
  </div>
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>

<!--<script type="text/javascript">-->
<!--  $('#micropost_picture').on("change",function(){-->
<!--    alert('Hello');-->
<!--  })-->
<!--</script>-->