<section class="user-info-heading">
  <%= link_to gravatar_for(current_user,size: 50), current_user %>
  <h4><%= current_user.name %></h4>
</section>  
<span><%= link_to "View My Profile", current_user%> |</span>
<span class="micropost-count"><%= pluralize(current_user.microposts.count, "micropost") %></span>
