<li class="micropost-<%= micropost.id %>">
    <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
    <span class="user"><%= link_to micropost.user.name, micropost.user%></span>
    <span class"content">
        <%= micropost.content%>
       
    </span>
    <span class"timestamp">
        (posted <%= time_ago_in_words(micropost.created_at)%> ago.) |
    </span>
    <% if current_user?(micropost.user) %>
    <%= link_to 'Delete', micropost, method: :delete, data: { confirm: "Are you sure"} %>
    <% end %>
    <div class="posted-pic">
         <%= image_tag micropost.picture.url if micropost.picture? %>
    </div>
</li>