body{
    background: #e74c3c!important;
    
}
.center{
    text-align: center;
}

.jumbotron{
    background: none!important;
    padding: 80px!important;
    .btn{
        background: none;
        border: 1px solid #fff;
        border-radius: 0%;
        margin-top: 20px;
        &:hover{
            background: none;
            border: 1px solid #345;
        }
    }
}
.nav li a{
    padding: 20px!important;
    color: #fff;
    font-size: 1.4em;
    font-family: monospace;
}
.nav ul{
    display: inline-block;
}
#logo{
    padding: 20px!important;
    display: inline-block;
    color: #fff;
    font-size: 1.4em;
    &:hover{
        color: #000;
    }
}
header{
    margin-top: 20px;
}
.footer{
  li{
      display: inline-block;
      
      a{
          text-decoration: none;
          margin: 0 20px 0 20px;
          color: #fff;
          font-family: monospace;
          &:hover{
              color: #000;
          }
      }
  } 
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* form error styling*/
#error-explanation{
    color: red;
    background: #000;
    
    ul{
        color: red;
    }
}
.field_with_errors{
  border: 2px #000 solid;
//   .form-control {
//     color: $state-danger-text;
//   }
}

// FORM
.signup-intro{
    text-align: center;
    margin: 20px 0 20px 0!important;
    color: #fff;
}
form{
    margin-top: 40px;
    fieldset{
    }
    
    .field{
       margin: 5px auto;
       width: 50%;
       
        label{
        display: block;
        color: #fff;
       }
       
       input{
           width: 100%;
       }
    }
    
    .btn{
        width: 100%;
        background: none;
        border: 1px #fff solid;
        border-radius: none;
        margin: 15px auto;
        display: block;
    }
   
}


#session_remember_me{
    width: 20%;
    margin-left: 15px;
}
.checkbox{
    display: inline;
    span{
        float: left;
    }
}

// Gravatar Images
.gravatar{
        margin: 10px;
        border-radius: 50%;
    }
    
//  Stats 'div'
.stats{
    margin-top: 10px;
}
    