// Place all the styles related to the Microposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-posts{
   
    h4{
        margin-left: 40px;
    }
    ol{
        li:first-child{
            border-top: 1px #fff solid;
        }
    }
}

