// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styling for micropost form on the Home page
.user-info-heading{
    h4{
        display: inline;
    }
}

.micropost_form{
    
  .field, #micropost_content{
    width: 100%;
  }
  
}

.micropost-count,.user-info-heading{
    color: #fff;
}
