// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
aside{
    border: 1px #000 solid;
}

.users{
    padding: 0;
    li{
       list-style: none;   
       a{ margin: 10px;
          color: #fff;
       }
       
    }
    
    
}

.user-posts{
    color: #fff;
}