<footer class="footer">
    <nav class="center">
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "News", news_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
</footer>