<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shimv" %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container">
  <% flash.each do |message_type, message| %>
    <!--<div class="alert alert-<%#= message_type%>"><%#= message %></div>-->
    <!-- This is a much cleaner code using 'content_tag' helper-->
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %> 
  <% end %>  
  <%= yield %>
</div>
<%= render "layouts/footer" %>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
